%div.container
  %div.header
    %div.banner Free Code Camp
    %div.title Tic Tac Toe
  %div.game
    %table
      %tr
        %td#00 &nbsp;
        %td#01 &nbsp;
        %td#02 &nbsp;
      %tr
        %td#10 &nbsp;
        %td#11 &nbsp;
        %td#12 &nbsp;
      %tr
        %td#20 &nbsp;
        %td#21 &nbsp;
        %td#22 &nbsp;
  %div.selectors
